table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  background-color: #f6f6f6;
}
td, th {
  border: 1px solid #999;
  padding: 20px;
  overflow-wrap: break-word;
  max-width: 400px;
}
th {
  background: rgb(69, 66, 66);
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}
.primary{
  background-color: #000000
}

tfoot > tr  {
  background: black;
  color: white;
}

 label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    height: 40px;
    padding: 4px;
    font-family: inherit;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(215, 206, 206);
  }


  .container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

  }

  .forms-container {
    display: flex;
    gap: 200px;
  }

  .new-url {
    width: 400px;
    padding: 5px;
    overflow-wrap: break-word;
    border: 1px solid;
  }

  button {
    border-radius: 5px;
    border: 2px solid rgb(205, 198, 198);
    margin-right: 10px;
    width: 60px;
    height: 30px;
  }